header{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

header {
  img{
    height: 100px;
    width: 100px;
    border: 5px solid var(--white);
    margin-bottom: 15px;
    padding: 10px 10px 10px 5px;
    
  }
}

aside {
  display: flex;
  justify-content: flex-end;
}

aside button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
